<footer class="h-c-footer h-c-footer--topmargin h-c-footer--simple" id="footer-simple">
  <section class="h-c-footer__global">
    <div class="h-c-footer__logo">
      <a aria-label="Google" href="https://www.google.com"><svg aria-hidden="true"
      class="h-c-footer__logo-img" viewbox="0 0 396 130">
      <use xlink:href="#google-logo"></use></svg></a>
    </div>
    <ul class="h-c-footer__global-links h-no-bullet">
      <li class="h-c-footer__global-links-list-item">
        <a class="h-c-footer__link" href=
        "https://www.google.com/policies/privacy/">Privacy</a>
      </li>
      <li class="h-c-footer__global-links-list-item">
        <a class="h-c-footer__link" href=
        "https://www.google.com/policies/terms/">Terms</a>
      </li>
      <li class="h-c-footer__global-links-list-item">
        <a class="h-c-footer__link" href="https://www.google.com/about/">About
        Google</a>
      </li>
      <li class="h-c-footer__global-links-list-item">
        <a class="h-c-footer__link" href="https://www.google.com/about/products">Google
        Products</a>
      </li>
    </ul>
  </section>
</footer>
