*,
:before, 
:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.main, html, body {
  min-height: 100%;
  width: 100%;
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 0;
  padding-top: 30px;
}

p {
  margin: 0;
  padding: 15px 0;
}

.main {
  display: flex;
  padding: 50px;
  max-width: 1200px;
  font-size: 30px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a, a:hover, a:visited {
  color: #ea0a8e;
}

hr {
  height: 0;
  border: 0;
  margin: 30px 0;
  color: transparent;
  background-color: transparent;
  border-bottom: 4px solid #ea0a8e;
}
