// - - - - - - - - - - - - - - - - - - -
// - - libs
@import 'scss/hercules';

@import 'emoji-component/emoji-component';

.svg-assets {
  display: none;
}

// demo styles, get rid of
.herc-docs-c-colored-block--blue {
  background: lighten(#0000ff, 40);
  margin-bottom: 10px !important;
}
